.btn{
	border-radius: 0px;
}

.badge{
	border-radius: 2px;
}

.form-control{
	border-radius: 0px;
	box-shadow: none;
}

.alert{
	text-align: center;
	padding: 5px;
	margin-top: -20px;
	border-radius: 0px;
}