body{
  background: #000;
}

#wrapper{
  width: 100%;
  margin: auto;
  text-align: center;
}

img{
  margin-top: 50px;
  width: 20%;
}

.error-msg{
  width: 100%;
/*   background: #fff; */
}

#code{
  font-size: 2em;
  color: #888;
}

#msg{
  font-size: 1.4em;
}