
.feed-item.job{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding-top: 3px;
	padding-bottom: 10px;
	padding: 0px 5px 0px 5px;
}

.feed-item.job:last-child{
	border: none;
}

.feed-item.job:hover{
	background: #efefef;
}

.feed-header{
	background:#efefef;
}

.feed-item-empty{
	background: #fff !important;
}

.job-icon{
	height: 50px;
	width: 10%;
	float: left;
	margin-top: 15px;
	border: 1px solid #5E8090;
	text-align: center;
	padding: 10px;
	background: #8EA0C0;
	color: #fff;
	font-size: 1.5em;
	cursor: pointer;
}

.job-icon:hover{
	color: #8EA0C0;
	background:#fff;
}

.job-details{
	margin-left: 2%;
	float: left;
	width: 68%;
	padding: 0 10px;
}

.job-title{
	font-size: 1.2em;
	display: inline-block;
	padding-top: 4px;
	margin-bottom: 5px;
	color: #777;
}

.job-skills{
	padding: 0;
	margin: 0px;
}

.job-skills li{
	display: inline-block;
	margin: 2px 2px 0px 0px;
	padding: 3px;
	color: #5E8090;
	border: 1px solid #5E8090;
	background: #fff;
	cursor: pointer;
	font-size: 0.8em;
}

.job-skills li:hover{
	color: #fff;;
	background:#8EA0C0;
}

.job-description{
	border-radius: 4px;
	background: #efefef;
	display: inline-block;
	margin: 10px 4px 0px 4px;
	padding: 10px;
	width: 100%;
}

.job-post-info{
	display: inline-block;
	margin-top: 5px;
}

.job-actions{
	padding: 0;
	float: left;
	width: 20%;
	margin-top: 10px;
	background: #fff;
	overflow: hidden;
/* 	border: 1px solid ; */
}

.job-actions li{
	display: block;
	width: 100%;
	text-align: center;
	cursor: pointer;
}

.job-actions .main-action{
	border: 1px solid #00B16A;
	height: 50px;
	padding: 15px 0px;
	color: #00B16A;
}

.job-actions .main-action:hover{
	background: #00B16A;
	color: #fff;	
}

.job-actions .main-action:focus, .job-actions .main-action:active{
	background:#fff;
	color: #03A678;
}

.job-actions .sub-actions ul{
	padding: 0;
	margin: 0;
	border: 1px solid #aaa;
	border-top: none;
	
}

.job-actions .sub-actions ul:hover{
	border-color: #F27935;
	color: #F27935;
}

.toggleDescription.active{
	transform: rotate(180deg);
/* 	border: 1px solid #aaa; */
/* 	border-bottom: none; */
/* 	border-left: 2px solid #aaa; */
}