.navbar{
	background: #444;
	min-height: 35px;
}
.navbar{
    border-bottom: 1px solid rgba(0,0,0,0.2);
/*     background: #fff; */
}

.navbar ul span{
    font-size: 1.5em;
}

.user-actions{
    list-style: none;
    list-style-type: none;
    height: 45px;
    overflow: hidden;    
}

.user-action{
    display: inline;
    color: #eee;
    font-weight: bold;
    width: 48px;
}

#formSearch *{
	border-radius: 0px;
}
#formSearch .input-group *{ 
/* 	box-shadow: none; */
	border-color: rgba(0,0,0,0.9);
	text-shadow: none;
}

#formSearch button{
	border: none;
	background: #54acd2;
}

#formSearch button:hover{
	color: #fff;
}

.your-avatar{
	display: inline-block;
	padding: 5px 15px;
/* 	background: #eee; */
	cursor: pointer;
}

.your-avatar:hover{
	background: #000;
}

.your-avatar img{
	width: 40px;
	height: 40px;
	background: #fff;
	margin-top: -10px;
}

.your-avatar span{
	color: #66BB88;
	display: inline-block;
/* 	background: green; */
	margin-top: 7px;
	padding: 0 10px;
}
