
/* Containers */

body{

}

.column{
  padding-top: 10px;
}

#board{
  text-align: center;
}

#board .board-title{
  font-size: 30px;
  color: #888;
}

#sidebar{
  background: #fff;
}

/* Controls */
.helper{
  font-weight: bold;
  font-size: small;
}

.alert{
  margin-top: 0px !important;
}

/* FORM Controls */
.form{
  overflow: hidden;
/*   border: 1px solid #ddd; */
/*   padding: 4px; */
/*   border-radius: 4px; */
}

.form *{
  border-radius: 0px !important;
}

.form button{
  width: 100%;
}

.form legend{
  font-weight: 300;
  font-size: 1.8em;
  border-bottom: none;
  margin-bottom: 5px;
}

.form .gender{
  margin-left: 25%;
}

#formLogin{
/*   border-color: #3DB3D7; */
}
#formSignUp{
  margin-bottom: 25px;
/*   border-color: #489F48; */
}

#formSignUp legend{
  margin-bottom: 10px;
}
#formSignUp button{
  margin-top: 20px;
}