body{
	background: #fff;
}


#formCreateJob legend{
	font-weight: 300;
	border: none;
}

#formCreateJob .btn{
	float: right;
	margin-left: 10px;
}


#wrapper{
	margin-top: 80px;
}

#formCreateJob{
	width: 80%;
	margin: 30px auto;
}

.column{
	padding: 0px;
	background: #fff;
}

.mid-column{
/* 	background: #eee; */	
	padding-left: 80px;
}


@media (max-width:980px){
	.mid-column{
		padding-left: 0px;
	}

}

.right-column{
	padding-right: 80px;
	padding-left: 80px;
}

.right-wrapper{
}

.tab-list{
	border-bottom: 1px solid #ddd;
}

.tab-list ul{
	padding: 0px;
	margin: 0px;
	margin-bottom: -1px;
	font-size: 1.2em;
	font-weight: 300;	
}

.tab-list ul li.tab-list-item{
	display: inline-block;
	padding: 9px;
	border-top: 2px solid  #fff;
	transition: 0.2s ease-in-out border-top;
	cursor: pointer;
}

.tab-list ul li.tab-list-item:hover{
	border-top: 2px solid #54acd2;
}

.tab-list ul li.active{
	border: 1px solid #eee;
	border-bottom: 1px solid #fff;
	border-top: 2px solid  #54acd2;
	
}

.tab-list ul li span{
	font-size: 0.8em;
}

.tab-list ul li#btnCreateJob{
	float: right;	
	border-radius: 0px;
	background: #fff;
	margin-top: -1px;
}

.feed-info ul{
	float: left;
	margin-top: 10px;
}

.feed-info li:first-child{
	margin-left: 10px;
}
.feed-info li{
	display: inline-block;
	padding: 0 5px;
}


.feed-info li.active{
	border: 1px solid #aaa;
}

