
.upcoming{
	background: #fff;
	border: 1px solid #ddd;
}
.upcoming .title-bar{
	padding: 10px 0;
	margin: 0 10px;
	border-color: #aaa;
	border-bottom: 1px solid #ddd;
	font-size: 1.2em;
	font-weight: 300;	
}

.upcoming-user{
/* 	background: #eee; */
	padding: 10px;
	overflow: hidden;
}

.upcoming-user:hover{
/* 	background: #efefef; */
}
.upcoming-user .user-icon{
	height: 30px;
	width: 30px;
	background: #6b8;
	float: left;
}

.upcoming-user .user-name{
	margin-top: 4px;
	float: left;
	margin-left: 10px;
}

.upcoming-user .user-reputation{
	float: right;
	margin-top: 4px;
}
